<h1>Search results for: <%= @query %></h1>
<div class='alert alert-info'>
  <p>If you don't see what you're looking for, try searching with different terms or click <%= link_to "here", search_path(:query => @query, :remote => "true"), :class => "btn btn-sm btn-primary" %> to search the TVDB as well.</p>
</div>
<% if @results.count > 0 %>
  <div class='table-lst'>
    <table id='table' class='table table-striped'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Series</th>
          <th>Overview</th>
          <th></th>
        </tr>
      </thead>
        
      <tbody>
        <% @results.each do |series| %>
          <tr>
            <td><%= series.id %></td>
            <td><%= series.name %>
              <div class='img-box'>
                <img src='<%= series.banner.url(:medium) %>' />
              </div>
            </td>
            <td>
              <div class='overview'>
                <%= series.overview %>
              </div>
            </td>
            <td>
              <p><button class="btn btn-primary">Series Info</button></p>
              <p><button onClick="addToWatchlist(<%= current_user.id %>, <%= series.id %>, '<%= j series.name %>')" class="btn btn-primary">Add to Watchlist</button></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class='alert alert-info'>
    <p>There were no results for your search, please try another search!</p>
  </div>
<% end %>
