<h1>Search results for: <%= @query %></h1>
<% if @results.count > 0 %>
  <table id="table" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Series</th>
        <th>Overview</th>
        <th></th>
      </tr>
    </thead>
      
    <tbody>
      <% @results.each do |series| %>
        <tr>
          <td><%= series['seriesid'] %></td>
          <td><%= series['SeriesName'] %>
            <div class='img-box'>
              <img src='http://thetvdb.com/banners/<%= series['banner'] %>' data-src='holder.js/271x50?text=No Banner Found'/>
            </div>
          </td>
          <td>
            <div class='overview'>
              <%= series['Overview'] %>
            </div>
          </td>
          <td>
            <button class="btn btn-primary">Add to Watchlist</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    <p>There were no results for your search, please try another search!</p>
  </div>
<% end %>
