<h1>Your Watchlist</h1>
<% if @results.length > 0 %>
  <table id='table' class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Series</th>
        <th>Overview</th>
        <th></th>
      </tr>
    </thead>
      
    <tbody>
      <% @results.each do |series| %>
        <tr>
          <td><%= series.id %></td>
          <td><%= series.name %>
            <div class='img-box'>
              <img src='<%= series.banner_thumb %>' data-src='holder.js/271x50?text=No Banner Found'/>
            </div>
          </td>
          <td>
            <div class='overview'>
              <%= series.overview %>
            </div>
          </td>
          <td>
            <p><button class="btn btn-primary">Series Info</button></p>
            <p><button onClick="deleteFromWatchlist(<%= current_user.id %>, <%= series.id %>)" class="btn btn-warning">Remove From Watchlist</button></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-info'>
    <p>There are no series in your watchlist, please add some series!</p>
  </div>
<% end %>
