<%= link_to watchlist_path do %>
  <span class='glyphicon glyphicon-chevron-left'></span> Back to Watchlist
<% end %>
<div class='container'> 
  <div class='col-md-2' id="poster">
    <img src='<%= @info.poster.url(:medium) %>' />
  </div>
  <div class='col-md-10' id='overview'>
    <img class='banner' src='<%= @info.banner.url(:original) %>' />
    <div class='seasons'>
      <strong>Season:</strong>
      <% @seasons.each do |season| %>
        <%= link_to(season[0], season_path(@id, season[1]), :method => :get) %>
      <% end %>
      <%= link_to('All', season_all_path(@id), :method => :get) %>
    </div>
    <div style='margin-top: 10px;'>
      <%= @info.overview  %>
    </div>
  </div>
</div>
