<!DOCTYPE html>
<html>
<head>
  <title>Show Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery.dataTables.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'datatables.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.dataTables.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'datatables.min.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="wrapper">
        <%= render "partials/header" %>
        <div class="container">
            <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
            <% end %>

            <%= yield %>
        </div>
        <%= render "partials/footer" %>
    </div>
</body>
</html>

