<!DOCTYPE html>
<html>
<head>
  <title>Show Tracker</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <%= render "partials/header" %>
    <div class="message-box" <% if !notice && !alert %> style="display: none;" <% end %>>
      <% if notice %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><%= alert %></p>
        </div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "partials/footer" %>
  </div>
</body>
</html>
